[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django-cors-headers = "*"
langchain = "*"
langchain-community = "*"
huggingface-hub = "*"
openai = "*"
python-dotenv = "*"
django = "*"
djangorestframework = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.10"
